.settings{
	margin-bottom:15px;
	.address{
		margin-bottom:15px;
		min-height: 180px;
	}

	.toDelete{
		.btn.rounded {
			padding: 4px 15px;
    		border-radius: 50%;
		}

		.error{
			font-size:2em;
		}
	}
	.email{
		    text-decoration: underline;
	}
	.category{
		    vertical-align: sub;
	}

	.subtitles{
		font-size: 1.2em;
		color:$primary-color;
		text-align:center;
		border-bottom:1px solid $primary-color;
		margin-bottom:15px;
	}

	.subparts{
		margin-bottom:50px;
	}
}


@media (max-width: $screen-sm-min){
	.settings{
		.address{
			border-top:none;
		}
	}
}