.settings{
	margin-bottom:15px;
	.address{
		border: 1px solid lightgray;
		padding: 5px 0px;
		min-height: 180px;
	}

	.toDelete{
		.btn.rounded {
			padding: 22px 40px;
		    border-radius: 55px;
		}

		.error{
			font-size:3em;
		}
	}
	.category{
		    vertical-align: sub;
	}
}


@media (max-width: $screen-sm-min){
	.settings{
		.address{
			border-top:none;
		}
	}
}