.settings{
	margin-bottom:15px;
	.address{
		margin-bottom:15px;
		padding: 5px 0px;
		min-height: 180px;
	}

	.toDelete{
		.btn.rounded {
			padding: 4px 15px;
    		border-radius: 50%;
		}

		.error{
			font-size:2em;
		}
	}
	.email{
		    text-decoration: underline;
	}
	.category{
		    vertical-align: sub;
	}
}


@media (max-width: $screen-sm-min){
	.settings{
		.address{
			border-top:none;
		}
	}
}