//main colors 
$primary-color: #0e91a1;
$toastSuccess:$primary-color !default;
$grid-float-breakpoint:992 !default;



$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "_utils.scss";
@import "_menu.scss"; 
@import "_navbar.scss";
@import "_grm-page.scss";  
@import "_dashboard.scss";  
@import "_settings.scss";  
@import "_credit.scss"; 
@import "_faq.scss"; 
@import "_info.scss"; 
@import "../scripts/directives/filter-menu/filter-menu.scss";  
@import "../scripts/directives/searchCriteria/searchCriteria.scss";
@import "../scripts/directives/profile/profile.scss";
@import "../scripts/directives/connection/connection.scss";
@import "../scripts/directives/friends/friends.scss"; 
@import "../../bower_components/angularjs-toaster/toaster.scss"; 



  
.browsehappy {   
  background: #ccc; 
  color: #000; 
  padding: 0.2em 0;   
} 

.btn-primary{
  background-color:$primary-color;
  color:#fff;
}

.btn-default{
  color:$primary-color;
  border: 1px solid $primary-color;
}


.navbar-header.active {
    height: 100%;
    width: 100%;
    background-color: #0e91a1;
}

.navbar-default {
    background-color: #fff;
    border-bottom: 1px solid $primary-color;
    //opacity: 0.9;
}

.page-indicator{
  padding-left: 0px;
  color:$primary-color;
}


.mobile-top-nav{
  background-color: #fff;
  border-bottom: 1px solid $primary-color;
  height: 50px;

}



.menu-link{
  &:focus{
     text-decoration: underline;
  }
}


.menu-link.active{
  font-weight: bold;
  text-decoration: underline;
}

.navbar-toggle.unactive{
  float: left;
  margin-left: 5px;
  margin-bottom: 15px;
  .icon-bar{
    background-color:$primary-color;
  }
}

.navbar-default .navbar-toggle .icon-bar{
   background-color:$primary-color;
}

  .navbar-default .navbar-nav {
    > li {
      > a {
          color:$primary-color;
          text-transform: uppercase;
        }
      }
  }


.navbar-default .navbar-toggle .icon-bar.active{
   background-color:#fff;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

.alert-info {
    background-color:$primary-color;
    border-color:$primary-color;
    color: #fff;
}

.primary-color{
  color:$primary-color;
}
 
html,body{ 
  height:100%;
}
 
.navbar-header{
  text-align:text-right;
} 
footer{
  bottom:0px; 
  background-color:black;
  color:#fff;
  padding:25px;
}
.notification{
  padding: 10px 12px; 
  border-radius: 50%;
  background-color: $primary-color;
  cursor:pointer

  &:hover{
    background-color:lighten($primary-color,20%)
  }
}
.notification-xs{
  display:none;
  margin: 9px;
}
.notification-sm{
  margin-top: -10px;
  margin-bottom: -10px;
}


/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}


.loginImage{
  background-image: url('../images/logo.png');
  background-size: cover;
  background-position: center;
  height:500px;
}

.tabHeader{
  padding:5px;
  font-weight:bold;
  border:1px lightgray solid;
}
.tabRow{
  padding:5px;
  border:1px lightgray solid;  
}

.mainTitle{
  color:white;
  font-size:2.4em;
  background-color:black;
  opacity:0.8;
}


.sortByDiv{
  margin-top: 5px;
  text-align: center;
  span{
    font-size: 1.4em;
    color:$primary-color;
  }
}


.menuItem{
  margin:0px;
  background-color:whitesmoke;
  padding:30px;
  border-top: lightgray 1px solid;
  div{
    p{
       padding:15px;
       font-size:1.3em;
    }
  }
}

.shoppingBackground{
  background: url('../images/shopping.jpg');
  background-size: cover;
  background-position: center;
  height: 350px;
}

.merchantBackground{
  background: url('../images/merchants.jpg');
  background-size: cover;
  background-position: center;
  height: 320px;
}

.intro{
  padding: 75px;
  p{
    font-size:1.4em;
    color:$gray;
  }
}

.LoginHeading{
  height:450px;
  background: url('../images/mainImg.jpg');
  background-size: cover;
  background-position: center;

  .btn-menu{
    border: white solid 1px;
    .icon-bar{
      background-color:white;
    }
  }

  .menu-links{//login page
    margin-top:10px;
    a{  
      text-decoration: none;
      margin-left:15px;
      margin-right:5px;

      &:hover{
        text-decoration:underline;
      }
    }

  }

  a{
    color:#fff;
    text-decoration:underline;
  }

  .mainLogo{
    width:100px;
  }
}

.social-media{
  background-color:#333;
  color:white;
  padding: 5px;

  img{
    width:30px;
  }
}

.opacity-background{
  background-color:$primary-color;
  color:#fff;
  opacity:0.7;
  height:450px;
}

.menu1-text{
  height: 350px;
}
.menu1{
  background: url('../images/menu1.jpg');
  background-size: cover;
  background-position: center;
  height: 350px;
}

.menu2-text{
  height: 370px;
}

.menu2{
  background: url('../images/menu2.jpg');
  background-size: cover;
  background-position: center;
  height: 370px;
}

.profile-img{
  width:100%;
}

.search-panel-title{
  padding-left: 5px;
  padding-top: 9px;
}

  .loader{
    position: fixed;
      top: 0px;
      left: 0px;
      height: 100%;
      z-index: 999;
      background: url('../images/loader.svg') 50% 50% no-repeat;
      width: 100%;
  }


  .filter-margin-bottom{
      margin-bottom: 65px;
  }

.mainView{
  margin-left: 300px;
}

.mobile-notif{
  float: right;
  margin-top: 15px;
  margin-right: 15px;
}

.desktop-notif{
  float: right;
  margin-top: 15px;
  margin-right: -15px;
  margin-bottom: 15px;
}

@media (max-width: $screen-md-min){
  .mainView{
    margin-left: 0px;
    width:100%;
  }
}

@media (max-width: $screen-sm-min){

  .notification-xs{
    display:inline-block; 
  }

  .mainIntro{  
    h3{
      font-size:19px
    }
  }
  
  .menu1-text,.menu2-text{ 
    height:475px;
    padding:15px;
  }

  .search-panel-title{
    .panel-title{
      font-size:14px;
    }
  }

  .panel-body{
    padding:10px;
  }

  .navbar{
    margin-bottom:10px;
  }

  .alert{
    margin-bottom:10px;
  }

  .control{
    position:fixed;
  }

}