.connections{
	.connection{
		border: 1px solid lightgray;
		min-height: 240px;
	    padding-top: 15px;
	    padding-bottom: 15px;

	    .isSaved{
	    	background-color: rgba(255, 255, 138, 0.98);
	    	color:white;
	    }

	    .isContacted{
	    	background-color: rgb(0, 123, 63);
	    	color:white;
	    }
	    .help{
			opacity: 0.8;
	    }
	}

	

	.isFriend{
		@extend .alert-success;
	}
}

@media (max-width: $screen-sm-min){
	.connections{
		.connection{
			border-top:none;
		}
	}
	.connection.no-border-bottom{
		border-bottom:none;
	}
}