<div class="connections">
	<div class="row" >
		<div class="col-xs-12 text-left connection" 
			ng-if="hasFilter()" 
			ng-repeat="user in users"
			ng-class="{'isFriend':isFriend(user),'no-border-bottom':$last}"
			ng-hide="isFriend(user) || userProfile.onlyShowSavedProfile && !isAlreadySaved(user) || isTrashed(user)">
			<p>
				<strong>TITLE</strong>: 
				<span class='title_value'>{{user.currentJob.title || user.headline}}</span>
			</p>
			<p>
				<strong>INDUSTRY</strong>: 
				<span class='industry_value'>{{user.industry}}</span>
			</p>
			<p>
				<strong>WORK</strong>: 
				<span class='work_value'>{{user.currentJob.company}}</span>, 
				<span class='work_value'>{{user.currentJob.title}}</span>
			</p>
			<div  ng-show="!isFriend(user)" class="row margin-top5">
				<div class="col-xs-4">
					<button ng-click="contactProfile(user)" class="btn btn-default rounded" 
							ng-class="{'isContacted':hasSentInvitation(user)}">
						<span class="success">C</span>
					</button>
					<br/>
					<span class="success help">Connect</span>
				</div>
				<div class="col-xs-4">
					<button ng-click="saveProfile(user)" class="btn btn-default rounded"
							ng-class="{'isSaved':isAlreadySaved(user)}">
						<span class="warning">S</span>
					</button>
					<br/>
					<span class="warning help">Save</span>
				</div>
				<div class="col-xs-4">
					<button ng-click="trashProfile(user)" class="btn btn-default rounded">
						<span class="error">R</span>
					</button>
					<br/>
					<span class="error help">Remove</span>
				</div>
			</div>
		</div>
		<div ng-show="users.length && hasFilter()" class="col-xs-12 col-md-8 col-md-offset-2 margin-top15">
			<button class="btn btn-default btn-block" ng-click="clearFilter()">Clear filters</button>
		</div>
		<br />
		<div class="row" ng-show="hasNext || hasPrevious">
			<div ng-show="hasPrevious" class="col-md-6 text-left">
				<button ng-click="previousPage()" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left">Previous</span></button>
			</div>
			<div ng-show="hasNext" class="col-md-6 text-right">
				<button ng-click="nextPage()" class="btn btn-default"> Next<span class="glyphicon glyphicon-chevron-right"></span></button>
			</div>
		</div>
	</div>
	<alert class="text-left" ng-show='userProfile.category && hasFilter() && !users.length' type="info" >
		<p>Nobody matches the following criterias</p>
		<ul ng-show="userProfile.category === 'referer'">
			<li ng-if="userProfile.search.experience.length">Experience: {{userProfile.search.experience | arrayToString}}</li>
			<li ng-if="userProfile.search.locations.length">Locations: {{userProfile.search.locations | arrayToString}}</li>
			<li ng-if="userProfile.search.functions.length">Functions: {{userProfile.search.functions | arrayToString}}</li>
			<li ng-if="userProfile.search.languages.length">Languages: {{userProfile.search.languages | arrayToString}}</li>
		</ul>
		<ul ng-show="userProfile.category === 'looking_for_job'">
			<li ng-if="userProfile.wants.experience.length">Experience: {{userProfile.wants.experience | arrayToString}}</li>
			<li ng-if="userProfile.wants.locations.length">Locations: {{userProfile.wants.locations | arrayToString}}</li>
			<li ng-if="userProfile.wants.functions.length">Functions: {{userProfile.wants.functions | arrayToString}}</li>
			<li ng-if="userProfile.wants.languages.length">Languages: {{userProfile.wants.languages | arrayToString}}</li>
			<li ng-if="userProfile.wants.companies.length">Companies: {{userProfile.wants.companies.length}} selected.</li>
		</ul>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<button class="btn btn-default btn-block" ng-click="clearFilter()">Clear filters</button>
			</div>
		</div>

	</alert>
</div>