<div class="menu">    
  <div class="app-menu row">
    <div class="col-xs-12 menu-divs">
      <div>
      <span class='glyphicon glyphicon-globe'></span> 
        <a ui-sref='login' ng-click='slideOpen = false'>
          Home
        </a>
      </div>
      <div>
       <span class="glyphicon glyphicon-cog"></span> 
        <a ui-sref='info.blog'  ng-click="slideOpen = false">
          Blog
        </a>
      </div>
      <div>
        <span class="glyphicon glyphicon-piggy-bank"></span>
        <a ui-sref='info.about' ng-click="slideOpen = false">
          About
        </a>
      </div>
      <div>
        <span class="glyphicon glyphicon-question-sign"></span>
        <a ui-sref='info.contact' ng-click="slideOpen = false">
           Contact
        </a>
      </div>
    </div>
  </div>
</div>
