<div class="profile margin-bottom10">
    <div class="row">
      <div class="col-xs-4 col-sm-2 text-right">
        <b>Information</b>
      </div>
      <div class="col-xs-8 col-sm-10">
       {{profile.firstName}} {{profile.lastName}},  {{profile.currentJob.title || profile.headline}}
      </div>
    </div>
    <div class="row margin-top5 text-center" ng-show='!profile.category'>
      <alert type="info" >Please choose a category</alert>
    </div>
    <div class="row margin-top10">
      <div class="col-xs-4 col-sm-2 text-right">
        <label for='category verticalTop'><b>Category</b></label>
      </div>
      <div class="col-xs-8 col-sm-10">
        <select id='category' ng-model="profile.category" class="form-control" ng-change="saveUserProfile(profile)">
          <option value="referer">{{'referer' | categoryFilter}}</option>
          <option value="looking_for_job">{{'looking_for_job' | categoryFilter}}</option>
        </select>
      </div>
    </div>
    <div  ng-show="profile.saved.length" class="row margin-top5">
        <label>Only show saved profile</label>
        <input type="checkbox" ng-click="toggleShowOnlySavedProfile()"/>
    </div>
    <br />
    <div class="row" ng-show="profile.trash.length || profile.saved.length">
        <div class="col-xs-6" ng-show="profile.trash.length">
          <button class="btn btn-block btn-default" ng-click="clearTrash()">Clear the trash</button>
        </div>
        <div class="col-xs-6" ng-show="profile.saved.length">
          <button class="btn btn-block btn-default" ng-click="clearSavedProfile()">Clear saved profile</button>
        </div>
    </div>
    <br ng-show="profile.trash.length || profile.saved.length" />
</div>