.friends{
	margin-bottom:15px;
	.friend{
		border: 1px solid lightgray;
		min-height: 250px;

		div{
			padding:10px;
		}
	}
}


@media (max-width: $screen-sm-min){
	.friends{
		.friend{
			border-top:none;
		}
	}
	.friend.no-border-bottom{
		border-bottom:none;
	}
}

.invitations{
	margin-bottom:20px;
	padding-bottom:20px;
	border-bottom:lightgray 1px solid;
}

.btn-deny{
	padding-right: 18px;
    padding-left: 18px;
}