<div class="friends row">
	<!-- FRIENDS -->
	<div  ng-repeat="person in persons | filter:personFilter | orderBy:sortFilter" 
		  class="col-sm-6 col-md-4 text-left friend" ng-class="{'no-border-bottom':$last}">
		<div ng-if="!person.toRemove">
			<div class="row">
				<div class="col-xs-4">
					<img ng-src="{{person.pictureUrl || '../images/user.svg'}}" 
					     class="img img-responsive img-circle margin-auto" />
				</div>
				<div class="col-xs-8 name">
					{{person.firstName}} {{person.lastName}}
				</div>
			</div>		
			<p>
				<b>Location:</b> {{person.location.name}}
			</p>
			<p>
				<b>Company:</b> {{person.currentJob.company}}
			</p>
			<p>
				<b>Email:</b> <a ng-href='mailto:{{person.emailAddress}}' class="break-word">{{person.emailAddress}}</a>
			</p>
			<p ng-show='person.date_connection'>
				<b>Connected since</b>:{{person.date_connection | date:'dd/MM/yyyy'}}
			</p>
			<div class="row" ng-if="userProfile.category ==='referer'">
				<div class="col-xs-3">
					<label ng-show='person.status'><b>Status:</b></label>
				</div>
				<div class="col-xs-9 status-select" >
					<select id='experience' ng-model="person.status" class="form-control" 
					                        ng-change="changeFriendShipStatus(person)">
			          <option value="connected">Connected</option>
			          <option value="cv_granted">CV granted</option>
			          <option value="cv_forwarded">CV forwarded to HR</option>
			          <option value="hired">Hired</option>
			          <option value="not_hired">Not hired</option>
			        </select>
			    </div>
		    </div>
			<div class="row">
				<div class="col-xs-6 linkedinDiv">
					<a ng-show="person.siteStandardProfileRequest" ng-href="{{person.siteStandardProfileRequest.url}}"  target="_blank">
					<img class="linkedinLogo" src="images/linkedinLogo.png"/></a>	
				</div>
				<div class="col-xs-6">
					<button class="btn btn-default pull-right" ng-click='person.toRemove = true' title="unfriend">		Disconnect
					</button>
				</div>
			</div>
		</div>	

	    <div class="to-disconnect" ng-show="person.toRemove">
	    	<p>
	    		Do you really want to break the connection with {{person.firstName}} {{person.lastName}}?
	    	</p>
	    	<div class="text-center ">
 				<img ng-src="{{person.pictureUrl || '../images/user.svg'}}" class="img img-responsive margin-auto" />
 			</div>
 			<br />
	    	<div class="row">
				<div class="col-sm-3 col-sm-offset-3 col-xs-offset-1 col-xs-5">
					<button class="btn btn-default" ng-click="person.toRemove = false">No</button>
				</div>
				<div class="col-sm-3 col-xs-5">
					<button class="btn btn-default" ng-click="unFriend(person)">Yes</button>
				</div>
	    	</div>
	    </div>

	</div>

	<!-- NO FRIENDS -->
	<div ng-show='!persons || persons.length === 0' class="col-xs-12" >
		<alert type="info" >
			You havn't made any connection yet
		</alert>
	</div>
</div>