.friends{
	margin-bottom:15px;
	.friend{
		border: 1px solid lightgray;
		min-height: 300px;

		div{
			padding:10px;
		}
	}

	.name{
		margin-top: 24px;
    	font-size: 1.7em;
	}
	.status-select{
		margin-top: -5px;
	}

	.linkedinLogo{
		width:70px;
	}

	.linkedinDiv{
		margin-top:-20px;
	}


}


@media (max-width: $screen-sm-min){
	.friends{
		.friend{
			border-top:none;
		}
	}
	.friend.no-border-bottom{
		border-bottom:none;
	}
}

.to-disconnect{
	min-height: 300px;
}

.invitations{
	margin-bottom:20px;
	padding-bottom:20px;
	border-bottom:lightgray 1px solid;
}

.btn-deny{
	padding-right: 18px;
    padding-left: 18px;
}