<div>
	<div class="grm-page-header text-right">
      <span class="grm-page-header-title">Credit</span>
    </div>
	<div class="panel panel-primary text-center">
		<div class="panel-heading">
			<h3 class="panel-title">Credit</h3>
		</div>
		<div class="panel-body"> 
			Credits are coming soon!
		</div>
		<div>
			<form action="https://www.sandbox.paypal.com/webapps/adaptivepayment/flow/pay" target="PPDGFrame" class="standard">
				<input type="image" id="submitBtn" value="Pay with PayPal" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" />
				<input id="type" type="hidden" name="expType" value="light"/>
				<input id="paykey" type="hidden" name="paykey" value="insert_pay_key">
			</form>
		</div>
	</div>
</div>