<div class="credits">

	<div ng-if="transaction">
		<alert type="success">
			Transaction {{transaction.state}} at {{transaction.update_time | date:'medium'}}.
			Amount: {{transaction.transactions[0].amount.total | currency:transaction.transactions[0].amount.currency}}
		</alert>
	</div>

	<div class="row">
		<div class="col-xs-12 widget">
			<p><strong class="title">Connections left</strong></p>
			<div>
				<span class="connectionsLeft">{{user.credit}}</span>
			</div>
		</div>
		<div class="col-xs-12 separator"></div>
		<div class="col-sm-8 col-sm-offset-2 col-xs-12 widget">
			<p><strong class="title">Buy more connections</strong></p>
			<p>
				<input type="number" class="form-control" ng-model="newConnection" placeholder="How many token do you want to get?"/>
			</p>
			<p>
				<div class="row">
					<div class="col-xs-6 text-right">
						<span class="currency">{{getPrice() | currency}}</span>
					</div>
					<div class="col-xs-6 text-left">
						<button class="btn btn-primary" ng-click="buyToken()">Buy tokens!</button>
						<img class="loader-payment"  ng-show='isLoading' src="images/loader.gif" />
					</div>
				</div>	
			</p>
		</div>
		<div class="col-xs-12 separator"></div>
		<div class="col-sm-8 col-sm-offset-2 col-xs-12 widget">
			<p><strong class="title">Premium membership</strong></p>
			<p>
				Monthly premium membership coming soon. Please register for being notice first.
			</p>
			<p>
				<input type="email" class="form-control" ng-model="currentEmail" placeholder="Email"></input>
				<br />
				<button class="btn btn-primary" ng-click="register()"> Register</button>
			</p>

			
		</div>
	</div>
</div>