<div class="dashboard">
    <div class="filter-margin-bottom text-center">
	    
		<div class="profile margin-bottom10">
		    <div  ng-show="user.saved.length" class="row margin-top5">
		        <label>Only show saved profiles</label>
		        <input type="checkbox" ng-click="toggleShowOnlySavedProfile()"/>
		    </div>
		    <br />
		    <div class="row" ng-show="user.trash.length || user.saved.length">
		        <div class="col-xs-offset-3 col-xs-6" ng-show="user.trash.length">
		          <button class="btn btn-block btn-default" ng-click="clearTrash()">Clear the trash</button>
		        </div>
		       <!--  <div class="col-xs-6" ng-show="user.saved.length">
		          <button class="btn btn-block btn-default btn-clear-profile" ng-click="clearSavedProfile()">Clear saved profile</button>
		        </div> -->
		    </div>
		    <br ng-show="profile.trash.length || profile.saved.length" />
		</div>


	    <alert ng-show='!user.category' type="info" >
	      	Please choose a category
	    </alert>
	    <div ng-show='!user.category' class="row">
			<div class="col-xs-3">
				<strong class="category font_size1-2">Category: </strong>
			</div>
			<div class="col-xs-9">
		        <select id='category' ng-model="user.category" class="form-control">
		          <option value="referer">{{'referer' | categoryFilter}}</option>
		          <option value="looking_for_job">{{'looking_for_job' | categoryFilter}}</option>
		        </select>
			</div>
		</div>
	   <!--  <alert class="xs-hidden" ng-show="usersSearched && usersSearched.length && linkedinProfile.category"  type="info" >
	    	You may be interested in the followings profiles
	    </alert> -->
	    <alert ng-show='user.category && !hasFilter()' type="info" >
	      	You have to define at least one filter at the bottom of the page to display people matching your expectation
	    </alert>
	    
	    <div connection users="usersSearched" user-profile="linkedinProfile" 
	    									  save-fct="saveUserProfile"
	    									  has-filter="hasFilter()"></div>
	 
	</div>
    <div ng-show="linkedinProfile.category" style="margin-left:285px"  filter-menu user="user" category="linkedinProfile.category"></div>
</div>