<div class="row">
  <div class="col-md-offset-2 col-md-8 horizontal-padding-5">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Profile</h3>
      </div>
      <div class="panel-body">

        <div profile="linkedinProfile"></div>

        <div class="margin-top5 text-center" ng-show='linkedinProfile.category'>
              <alert type="info" ng-show='linkedinProfile.category === "looking_for_job"'>
                Describe your dream job thanks to the following criterias 
              </alert>
              <alert type="info" ng-show='linkedinProfile.category === "referer"'>
                Indicate on which locations, departement and languages you can refer someone.
              </alert>
        </div>

        <div>
          <div ng-show="linkedinProfile.category === 'referer'">
            
            <div search-criteria items='linkedinProfile.search.locations' item-type='location' typeahead-items='countries'></div>
            
             <div search-criteria items='linkedinProfile.search.experience' item-type='experience'></div>

            <div search-criteria items='linkedinProfile.search.functions' item-type='function' typeahead-items='functions'></div>


            <div search-criteria items='linkedinProfile.search.languages' item-type='language' typeahead-items='languages'></div>

            <div class="row">
              <div class="col-xs-10 margin-top10">
                <label for="search_all_criteria">Only display profiles who match all criterias</label>
              </div>
              <div class="col-xs-2 form-group">
                <input class="form-control col-xs-4" type="checkbox" id="search_all_criteria" ng-model="linkedinProfile.search.all_criteria"/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <button class="btn btn-primary btn-block" ng-click="searchJobSeeker()">Search for job Seeker</button>
              </div>
            </div>
          </div>

          <div ng-show="linkedinProfile.category === 'looking_for_job'">
           
            <div search-criteria items='linkedinProfile.wants.companies' item-type='company' typeahead-items='companiesArray'></div>
    
            <div search-criteria items='linkedinProfile.wants.locations' item-type='location' typeahead-items='countries'></div>

            <div search-criteria items='linkedinProfile.wants.experience' item-type='experience'></div>

            <div search-criteria items='linkedinProfile.wants.industries' item-type='industry' typeahead-items='sub_industries'></div>

            <div search-criteria items='linkedinProfile.wants.functions'  item-type='function' typeahead-items='functions'></div>

            <div search-criteria items='linkedinProfile.wants.languages'  item-type='language' typeahead-items='languages'></div>

            <div class="row">
              <div class="col-xs-10 margin-top10">
                <label for="wants_all_criteria">Only display profiles who match all criterias</label>
              </div>
              <div class="col-xs-2 form-group">
                <input class="form-control col-xs-4" type="checkbox" id="wants_all_criteria" ng-model="linkedinProfile.wants.all_criteria"/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <button class="btn btn-primary btn-block" ng-click="searchReferer()">Search for referer</button>
              </div>
            </div>
          </div>
        </div> 
      </div> 
    </div>
  </div>
</div>