<div class="info">
	<div class="grm-page-header text-left">
      <span class="grm-page-header-title">Information</span>
    </div>

    <div class="text-center">
		<alert type="info">Any question? Don't hesitate to contact us.</alert>
	</div>

	<div class="padding15 font_size1-2 text-center">
		<address>
		  <strong>Go Refer me</strong><br>
		  14 Madison court<br>
		  Dublin, Ireland<br>
		  <abbr title="Phone">P:</abbr> (353) 872291126
		</address>

		<address>
		  <strong>Contact</strong><br>
		  <a href="mailto:gorefer.me@gmail.com">gorefer.me@gmail.com</a>
		</address>
	</div>

</div>