<div>
	<div class="LoginHeading">
		<div class="opacity-background text-center">
			<div class="row">
				<img src="../images/logo.png" class="mainLogo" />
			</div>
			<div class="row">
				<h3>Jobseekers, Looking for someone to help you getting a job?</h3>
				<h3>Employees,  Looking for an easy way to find candidates and earn your referral bonus?</h3>
			</div>
			<div class="row padding25">
				<div class="col-md-6 col-md-offset-3">
					<span><b class='font_size1-6 margin-top5'>Start now?</b></span> <button class="btn btn-default no-padding"><img ng-click="linkedInLogin()" src="../images/linkedIn.png"/></button>
				</div>
			</div>
			<div class="row font_size1-1">
			<span><a href='#' ng-click='signUpPopUp()'>I don't have a linkedin account</a></span>
			</div>
			<br />
		</div>
	</div>
	<div>
		<div class="text-center intro row">
			<div class='col-md-12'>
				<h2>What is this?</h2>
				<p>We are a web app which allow jobseekers to connect directly with employees of many companies in order to facilitate their recruitment process.</p>
				<p>Connect with your linkedin account, set up your search criterias, browse referrers or candidates profiles, use your credits to contact users or open contact requests. Repeat daily.</p>
			</div>
		</div>
	  <div class="row text-center menuItem">
			<div class="col-md-4 margin-bottom15">
				<h2>Linkedin Sync</h2>
				<br />
				<div>
					 <img src="../images/sync.svg" style="width:75px;height:75px" />
					</div>
					<br />
				<p class="margin-bottom15">
				  Create a profile in one click which will always stay up to date and in phase with your actual linkedin profile. 
				</p>
			</div>
			<div class="col-md-4 ">
				<h2>It's free</h2>
				<br />
				<div>
				<img src="../images/wallet.svg" style="width:75px;height:75px" />
				</div>
				<br />
				<p class="margin-bottom15">
					You can use the app for free and increase your capacity to connect by referring friends to the app or subscribe to a premium account.
				</p>
			</div>
			<div class="col-md-4 ">
				<h2>Anonymous Profile</h2>
				<br />
				<div>
				<img src="../images/lock.svg" style="width:75px;height:75px" />
				</div>
				<br />
				<p class="">No personal information will be displayed to others until you successfully connect with another user.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 menu1 col-md-push-6"></div>
			<div class="col-md-6 padding25 menu1-text col-md-pull-6">
				<div class="text-center">
					<h3>Why GoRefer.Me?</h3>
				</div>
				<div class="padding25 font_size1-3">
					<p>
						Today, 1 of every 2 employers offers a formal referral bonus program to their employees. The employees can refer external candidates to their HR department, and if the candidate is finally hired, the employee will earn benefit or cash bonus from its employers. 
					</p>
					<p>
						On average, only less than 10% of resume received by a HR department come from such referral. However it has been proved that they have the highest chance of success.
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 menu2">
			</div>
			<div class="col-md-6 padding25 menu2-text">
				<div class="text-center">
					<h3>Who we wish to help?</h3>
				</div>
				<div class="padding25 font_size1-3">
					<p>
						Employees to spend no more than 10 efficient minutes everyday to find great candidates to refer and earn their Bonus Referral more frequently
					</p>
					<p>
						Jobseekers to connect directly with employees of great companies and ask them : “Go Refer Me!”
					</p>
					<div class="text-center">
						<p>
							<span><b>Start now?</b></span>
						</p>
						<p>
							<button class="btn btn-default no-padding"><img ng-click="linkedInLogin()" src="../images/linkedIn.png"/></button>
						</p>
						<p>
							<span><a href='#' ng-click='signUpPopUp()'>I don't have a linkedin account</a></span>
						</p>
					</div>
				</div>	
			</div>
		</div>
</div>
<toaster-container toaster-options="{'position-class':'toast-bottom-right'}"></toaster-container>
<footer class="padding15 text-right font_size1-1">
	Go refer me 2015
</footer>
