    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div>
          <div class="navbar-header navbar-main text-right">

            <button type="button" class="navbar-toggle collapsed"  style="float:left;margin-left:5px" ng-click="slideOpen = !slideOpen">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand pull-right" href="#/dashboard">
              <img class="headerLogo" src="../images/logo.svg" />
            </a>
            <a ng-click="goToConnection();" ng-show="user.invitationsReceived.length">  
              <span tabindex='0' class="badge notification-xs notification" popover="You have {{user.invitationsReceived.length}} friends request" popover-trigger="mouseenter" popover-title="Friend request" popover-placement="bottom">{{user.invitationsReceived.length}}</span>
            </a>
          </div>


      <div ng-init="collapse = true" class="collapse navbar-collapse" collapse="collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="hidden-xs">
                <a ng-click="goToConnection();" ng-show="user.invitationsReceived.length"> 
                  <span class="badge notification notification-sm" popover="You have {{user.invitationsReceived.length}} friends request" popover-trigger="mouseenter" popover-title="Friend request" popover-placement="bottom">{{user.invitationsReceived.length}}</span>
                </a>
              </li>
              <li><a ui-sref='main.dashboard'  ng-click="collapse = true"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
              <li><a ui-sref='main.friendsRequest' ng-click='collapse = true'><span class='glyphicon glyphicon-globe'></span> Connections</a></li>
              <li><a ui-sref='main.settings'  ng-click="collapse = true"><span class="glyphicon glyphicon-info-sign"></span> Settings</a></li>
              <li><a ui-sref='main.credit' ng-click="collapse = true"><span class="glyphicon glyphicon-piggy-bank"></span> Credit </a></li>
              <li class="divider"></li>
              <li> <a href='#' ng-click='logout()'><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container" menu-slideout ng-init="slideOpen=false" ng-swipe-right="slideOpen=true">
        <pageslide  ng-swipe-left="slideOpen=false" ps-open="slideOpen" ps-side="left" ps-push="true" ps-auto-close="false" class="navbar navbar-default" style="border-right: 3px lightgray;border-style: solid;">
          <div class="navbar-header"> 
            <div class="row"> 
              <div class="col-md-12">  
                <button type="button" class="navbar-toggle collapsed"  
                style="float:left;margin-left:5px;margin-bottom: 15px;" ng-click="slideOpen = !slideOpen">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
            </div>
            <div profile-menu="user" slide-open="slideOpen"></div>
          </div>
        </pageslide>
    </div>
    <img class="loader" ng-show='isLoading' src="images/loader.gif" />
    <div ui-view class="container"></div>
