<div class="container text-center">
	<h3>Enter your new password</h3>
	<form class="form-horizontal">
		 <div class="form-group"  ng-show="!passwordForgotten" ng-class="{'has-error':!password && checked}">
			<label for="password" class="col-sm-3 control-label">Password</label>
			<div class="col-sm-9">
			  <input type="password" ng-model='password' ng-minlength="8" class="form-control" id="password" placeholder="Password" />
			</div>
		</div>
		<div class="form-group" ng-show="!haveAccount && !passwordForgotten" 
			 ng-class="{'has-error':(!password_confirm || password !== password_confirm) && checked}">
			<label for="password_confirm" class="col-sm-3 control-label">Password confirm</label>
			<div class="col-sm-9">
			  <input type="password" ng-model='password_confirm' ng-minlength="8" class="form-control" 
			  		 id="password_confirm" placeholder="Password">
			</div>
		</div>
		<div ng-if='errorPassword' class="text-center no-margin">
			 		<alert type='danger'>The two passwords must match and be at least 8 characters long</alert>
		</div>
		<div class="text-right">
			<button type="button" ng-show="!haveAccount" class="btn btn-primary"  ng-click="reinitPassword()">
				Sign In
			</button>
		</div>
	</form>
</div>