<div class="settings">
	<div>
		<div class="subtitles">
			<b>User's settings</b>
		</div>
		<div class="subparts">
			<div class="row">
				<div class="col-xs-3">
					<strong class="category font_size1-2">Category: </strong>
				</div>
				<div class="col-xs-9">
			        <select id='category' ng-model="user.category" class="form-control">
			          <option value="referer">{{'referer' | categoryFilter}}</option>
			          <option value="looking_for_job">{{'looking_for_job' | categoryFilter}}</option>
			        </select>
				</div>
			</div>
			<div class="row margin-top5">
				<div class="col-xs-12">
					<strong class="font_size1-2">Location: </strong>
			        <span>{{user.location.name}}</span>
				</div>
			</div>
			<div class="row margin-top5">
				<div class="col-xs-12">
					<strong class="font_size1-2">Id: </strong>
			        <span>{{user._id}}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 address">
			<div class="subtitles">
					<b>Any questions?</b>
			</div>
			<div class="text-center subparts">
				<div class="row">
					<div class="col-xs-6">
						<address>
							<p>
							  814 mission st,<br /> 6th floor<br>
							  San fransisco CA, 94103
							</p>
						</address>
					</div>
					<div class="col-xs-6">
						<address>
							<p>
							  14 Madison court<br>
							  Grattan street <br>
							  Dublin, Dublin 2, <br />Ireland
							</p>
						</address>
					</div>
				</div>
				<div class="row">
					<p>
						<a href="tel:+353872291126">(353) 872291126</a><br>
						<a class="email" href="mailto:gorefer.me@gmail.com">gorefer.me@gmail.com</a>
					</p>
				</div>
			</div>
		</div>
		<div class="col-sm-6 address">
			<div class="subtitles">
				<b>Did you get Referred?</b>
			</div>
			<div class="subparts text-center" ng-show="!referer">
				<p>Enter the id of your referer so you can both of you get free credits.</p>
				<p>
					<input class="form-control" ng-model="refererId"/>
				</p>
				<p class="text-center">
					<button class="btn btn-primary" ng-disabled="!refererId" ng-click="sendReferer()">Submit</button>
				</p>
			</div>
			<div class="subparts text-center" ng-show="referer">
				<p>{{referer.firstName}} {{referer.lastName}} refered you!</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-offset-3 col-sm-6 address">
			<div class="subtitles">
					<b>Want to leave?</b>
			</div>
			<div class="subparts">
				<div class="text-center toDelete" ng-show="!toDelete">
					<p>
						Your account, connections and preferences will be deleted.
					</p>
					<p>
						<button class="btn btn-default rounded" ng-click="toDelete=true">
							<span class="error">Y</span>
						</button>
					</p>
				</div>
				<div class="text-center padding15" ng-show="toDelete">
					<p class="font_size1-2">
						<b>Are you sure you want to leave us?</b>
					</p>
					<div class="row">
						<div class="col-xs-6 text-right">
							<button class="btn btn-default rounded" ng-click="deleteUser()">
								<span class="suceess">Y</span>
							</button>
						</div>
						<div class="col-xs-6 text-left">
							<button class="btn btn-default rounded" ng-click="toDelete=false">
								<span class="error">N</span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>