<div class="row filter-menu text-center" ng-class="{'wider-filter':widerFilter}">
	<div ng-click='goToFilter("company")' ng-show="category==='looking_for_job'">
		<span class='glyphicon glyphicon-briefcase'></span>
		<span class="filter-label">Company</span>
	</div>
	<div ng-click='goToFilter("location")'>
		<span class='glyphicon glyphicon-globe'></span>
		<span class="filter-label">Location</span>
	</div>
	<div ng-click='goToFilter("experience")'>
		<span class='glyphicon glyphicon-education'></span>
		<span class="filter-label">Experience</span>
	</div>
	<div ng-click='goToFilter("function")'>
		<span class='glyphicon glyphicon-tags'></span>
		<span class="filter-label">Functions</span>
	</div>
	<div ng-click='goToFilter("language")'>
		<span class='glyphicon glyphicon-headphones'></span>
		<span class="filter-label">Language</span>
	</div>
</div>